<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KEROMA FOODS</title>
    {% include 'header.html' %}
    {% include 'navbar.html' %}
</head>
<body>
    <marquee behavior="scroll" direction="left" scrollment="60" style="color: red; font-size: 30px;">Welcome To Keroma Fast  Foods</marquee>
    <h2 class="text-info"><center>KEROMA FOODS</center></h2>
    <button type="button" class="btn btn-primary">View Menu</button> 
    <button type="button" class="btn-success">Place Order</button>
</body>
</html>